body{
    margin:0;
    padding: 100px 0 0 0;
    font-family:  Helvetica;

    font-size: 0.875rem;    
    font-weight: 100;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
header{
    background: white;
    box-shadow: 0px 3px 5px rgb(19,19,19,0.45);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    padding: 12px ;
}
.menubar-style> .a-style > li{
    display: inline;
}
.a-style{
    display: flex;
}
.a-style>li>a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 33px 32px 31.4px 32px;
}
.a-style>li>a:hover{
    background-color: #c8e6c9;
}
.sublist-style{
    list-style: none;
    padding: 0 20px;
}
.abouttext{
    font-family: Helvetica;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 30px;
    font-size:large;
    text-align: justify;
}

.greensection{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c8e6c9;
    text-align: justify;
}

.footertext{
    background-color: black;
    padding: 10px;
    text-align: center;
    color:#fff;
    
}

.contentfooter{
    position: relative
  }
  .stickyfooter{
    position: sticky;
    top: 60px;
    text-decoration: none;
    gap:40px;   
  }
  .container1{

    margin-left: 165px;
    margin-right: 165px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.careercontainer{
    display: flex;
    border: 1px solid #ddd;
    justify-content: space-between;
    margin: 10px;
    width: 96%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box1{
  background-color: #f0f0f0; 
  border: 1px solid #ddd;
  padding: 15px; 
  margin: 10px; 
  width: 30%; 
  text-align: justify;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box2{
    /* border: 1px solid #ddd; */
    padding: 15px; 
    width: 90%; 
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
  }
.box3{
     /* border: 1px solid #ddd;  */
    padding-left: 20px;
    width: 68%; 
    
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

}
.title-style{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.text-style1{
    color:#046d38;
}
.text-style2{
    color:#37985e;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: bold;
}
.span-style{
    border-bottom: 2px solid #046d38;
    padding-bottom: 0.5rem;
}
.Abouttable tr:nth-child(odd){    background-color: #c8e6c9;
}
.Abouttable,td, th{
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    margin-left: 170px;
    margin-right: 170px;
    font-size: 18px;
    padding: 14px;
}
.Abouttable{
    margin-bottom:25px ;
}
th{
    padding-right: 320px;
}


.footer-style{
    background-color: #374553;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    text-transform: capitalize;
    padding: 13px 0 13px;
}
.style2{
    text-decoration: none;
    margin-bottom: 5px;
    color:#fff;
    
}
.style2:hover{
    text-decoration: underline;
}